.dropdown__content {
    position: absolute;
    width: 245px;
    height: 305px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #313131;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -15px;   
    overflow: auto;
}

.dropdown__item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown__item:hover {
    text-decoration: underline;
    color: #B672FF;
}

.filters__block {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}

.filters__block_text {
    padding-right: 10px;
}

